<div class="container">
  <div id=user-list>
    <h2>Hello <%= current_user.username %>!</h2>

  </div>
  <a href='/sessions/delete'>Log out</a>
  <a href="/users/<%=current_user.id%>">Profile</a>
  <a href='/post'>Home</a>
</div>
