<a href="/users/new">Register Here!</a>

  Log into your account:

  <form action="/sessions/new" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
  </form>
