<div class="container">
  <h3><a href="/users/new">Register Here!</a></h3>
  <h4>Log into your account:</h4>
  <form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</div>
